* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #51575B;
	font-size: 1em;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

/* HEADINGS */
h1 {
	font-size: 4em;
	text-shadow: 0 3px 4px #bbb;
}

h2 {
	font-size: 3em;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;

}

h2 span.firebase {
	font-weight: 500;
	color: #ffca99;
}
 span.js {
	font-weight: 500;
	color: white;
 }

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.25em;
	font-weight: 500;
	color: #ffca99;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

/* HEADER */

.header {
	border-bottom: 4px solid #ffca99;
	padding: 5px 40px 40px 40px;
}

.top {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.star-top {
	width: 100%;
	text-align: center;
}
.star-no {
	display: inline-block;
}



	/* Buttons */

.download-top,
.download {
	background-color: #3dafbe;
	color: white;
	padding: 10px;
	border-radius: 3px;
	border: none;
	box-shadow: 0 3px 4px #bbb;
	letter-spacing: 1px;
	font-weight: 100;
}

.download {
	margin-top: 10px;
	padding: 10px 20px;
}

.social {
	display: none;
}

.social img {
	margin: auto 10px;
}

/* MAIN */

main {
	background-color: #4a463f;
	color: white;
	padding-top: 100px
}

.columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.col-1,
.col-2,
.col-3 {
	margin: 30px auto 0;
	width:80%;
	text-align: center;
}

section {
	margin-bottom: 30px;
}

footer {
	background-color: white;
	height: 60px;
	padding: 20px;
	border-top: 4px solid #ffca99;
	text-align: center;
}

footer img {
	margin: 10px;
}


/* LINKS */

nav a {
	text-decoration: none;
	color: #51575b;
}

/* NAVIGATION */

nav {
	width: 100%;
	margin: auto;
}
nav ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 40px;
}

nav ul li {
	display: inline-block;
}

/* IMAGES */
.star {
	width: 20px;
	height: 20px;
	opacity: .6;
}

.icons {
	width: 30px;
	height: 30px;
	opacity: .6;
}

.col-icons {
	width: 50px;
	height: 50px;
	filter: invert(100%);
}

.logo {
	display: block;
	width: 50%;
	margin: auto;
}



/* MEDIA QUERIES */

@media (min-width: 768px) {
	.social {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.title {
		float: left;
		width: 40%;
		/* display: inline-block; */
		margin: 60px 0 0 80px;
	}

	.logo {
		float: right;
		/* display: inline-block; */
		margin-top: 100px;
		width: 40%;
	}

	.top {
		flex-direction: row;
	}

	nav {
		width: 40%;
		margin: auto;
	}

	.star-top {
		width: 20%;
	}

	.col-1,
	.col-2,
	.col-3 {
		margin: 40px auto;
		width: 28%;
		text-align: left;
	}

	.col-icons {
		height: 30px;
		width: 30px;
		/* display: inline-block; */
		float: left;
		margin-right: 20px;
	}

	footer {
		display: none;
	}
}

@media (min-width: 1024px) {
	.title {

		width: 50%;
	}
}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
